.main {
  display: grid;
  grid-template-columns: 13% 31% 31% 1fr;
  grid-template-rows: repeat(3, 33%);
  grid-template-areas:
    'leftInformations essay essay highestPercent'
    'leftInformations skills skills highestPercent'
    'leftInformations chooseAndHability chooseAndHability competence';
  height: calc(100vh - 70px);
  grid-gap: 5px;
  padding: 5px;
  background-color: whitesmoke;
}

.essay,
.skills,
.competence {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: var(--shadow);
}

.essay {
  grid-area: essay;
}

.skills {
  grid-area: skills;
}

.highestPercent {
  grid-area: highestPercent;
}

.competence {
  display: flex;
  justify-content: center;
  grid-area: competence;
  flex-direction: column;
}

.competence canvas {
  box-sizing: border-box;
  padding: 20px 5px;
}

.competence a {
  margin-top: -10px;
}

.highestPercent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: var(--shadow);
}
