.mainContainer {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-image: url(../../../assets/images/logo-enem.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 15%;
  background-position-y: 50px;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.textContainer {
  display: flex;
  width: 800px;
  font-size: 18px;
  background-color: whitesmoke;
  height: 300px;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 15px;
}
